body, html {
    height: 100%;
    margin: 0;
}

.fullscreen {
    background-image: url("https://source.unsplash.com/featured/?political");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}